// Specific CSS for your home-page
$primary:    #951920;

// body {
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   background-color: #f5f2f2;
  // }

  body {
    margin: 0 !important;
    width: 100%;
    font-family: 'Merriweather', serif !important;
    background-color: #FDFDFD
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-family: 'Merriweather', serif !important;

  }

  // BUSCADOR
  .boton-busqueda {
    background-color: #951920;
    border-color: #951920;
  }


//  CARROUSEL DE TASACIÓN - Cuanto sale tu casa?


.foto-tasacion {
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  height: 90vh;
  max-width: 100%;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.carousel-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carousel-text p {
  font-size: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
}
