<div style="background-color: rgb(220, 206, 189);">
  <h2 class="p-4 pt-5" style="text-align: center;">Nuestros Servicios</h2>


  <div class="l-container" >
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://img.freepik.com/premium-photo/home-buyers-are-taking-home-keys-from-sellers-sell-your-house-rent-house-buy-ideas_112699-467.jpg);"><h2>VENTA/ALQUILER</h2></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://as1.ftcdn.net/v2/jpg/04/34/15/04/1000_F_434150481_e1UaHwC4gX6LYtj1CddpTPZ1WpCflRJG.jpg);"><h2>ADMINISTRACIÓN</h2></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-position: center left;background-image: url(https://img.freepik.com/premium-photo/house-contract-man-signs-contract-purchase-home-with-real-estate-agent_55099-107.jpg);"><h2>TASACIONES</h2></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://as2.ftcdn.net/v2/jpg/02/77/04/05/1000_F_277040589_HAJP3wZwcmlPXeKV4RMioDP4YVwfDemL.jpg);"><h2>GEOLOCALIZACIÓN</h2></div>
    </div>
  </div>
</div>
