<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmizpueuw/image/upload/v1678295066/FARRAN%20PROPIEDADES/john-schnobrich-2FPjlAyMQTA-unsplash_fu1zbw.jpg);">
  <div class="container">
    <h1>FARRÁN PROPIEDADES</h1>
    <p>Operaciones Inmobiliarias</p>

    <%= render "pages/formbuscador" %>

    <%= link_to "Todas las Propiedades", houses_path, class:"btn btn-warning p-2 mt-5"%>
  </div>
</div>

<%= render "pages/homeservicios" %>
<%= render "pages/homedestacados" %>


<div>
  <h2>CONTACTO</h2>
    <p>bla bla</p>
</div>
<div>
  <h2>Xxxxxxxxxxxxx</h2>
    <p>bla bla</p>
</div>
<div>
  <h2>Xxxxxxxxxxxxx</h2>
    <p>bla bla</p>
</div>
